<%provide(:title,"Danh sachs user")%>
<p id="notice"><%= notice %></p>

<h2 class="title">DANH SACH NGUOI DUNG</h2>

<table class="table table-striped table-bordered">
  <thead>
    <tr >
      <th>Ten</th>
      <th>Email</th>
      <th>Mat khau</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New User', new_user_path %>
